<!DOCTYPE html>
<html lang="es">
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="../../img/logo.svg" alt="Logo" width="150">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link active text-light" href="/">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/crearCurso">Crear curso</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-light" href="/categorias">Gestionar categorias</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container mt-5">
		<div class="row">

			<h1 th:text="${categoria.nombre}" class="display-1"></h1>
			<hr>

			<ul class="list-group mt-3" th:each="curso : ${categoria.cursos}">

				<li class="list-group-item d-flex justify-content-between align-itemscenter">
					<div>
						<h5 th:text="${curso.titulo}"></h5>
						<p class="text-muted" th:text="${curso.descripcion}"></p>
					</div>
					<div>
						<img th:src="${curso.urlImagen}" style="width: 100px; height: auto;">
					</div>
				</li>
			</ul>
		</div>
		<hr>

		<div th:if="${categoria.id != 0}" class="d-flex gap-2 mb-3">

			<a class="btn btn-warning mt-5"
				th:href="@{/formularioActualizarCategoria/{id}(id=${categoria.id})}">Actualizar</a>

			<a class="btn btn-danger mt-5" th:href="@{/eliminarCategoria/{id}(id=${categoria.id})}">Eliminar
				categoria.</a>
		</div>

		<div th:if="${categoria.id == 0}" class="d-flex gap-2 mb-3">

			<a class="btn btn-secondary mt-5"
				th:href="@{/formularioActualizarCategoria/{id}(id=${categoria.id})}">Actualizar</a>

			<a class="btn btn-dark mt-5" th:href="@{/eliminarCategoria/{id}(id=${categoria.id})}">Eliminar categoria.</a>
		</div>


		


	</div>


	<footer class="bg-dark text-white py-3 mt-5">
		<div class="container text-center">
			<p>© 2024 Ficticion Studio.</p>
			<p>
				<a href="#" class="text-white text-decoration-none mx-2">Términos de uso</a> |
				<a href="#" class="text-white text-decoration-none mx-2">Política de privacidad</a>
			</p>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>